.title-about {
    font-family: "Rossten";
  font-size: 7rem;
  font-weight: normal;
  text-align: center;
  color: #ff008c;
text-shadow: #5a1b36 3px 0 4px;
  display: inline-block;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 290px;
  left:10px;
}

.caja-texto {
     font-family: "Rossten";
      font-weight: normal;
      color: #5a1b36;
      position: absolute; 
      bottom: 60px;
      left: 10px; 
   
    /* 1. Dimensiones de la Caja */
    width: 50%; 
    max-width: 800px; /* Asegura que no crezca demasiado en pantallas grandes */
    height: 200px; /* Altura fija o máxima que deseas */
    padding: 15px; /* Relleno interior */
    margin: 10px auto; 

    line-height: 1.6; /* Mejora la legibilidad del texto grande */
    
   
}

.nombre-text {
font-family: "Rossten";
 color:#ff008c;
 position: absolute;
 left: 15px;
 bottom: 280px;
  font-size: 1.2rem;

}

.v-special {
    font-family: "Aston";
    color:#ff008c;

} 




/* Contenedor de la imagen */
.camara-image-container {
  position: absolute;
  bottom: 10px;      /* ajusta para mover la imagen hacia arriba o abajo */
  left: 800px;         /* centra horizontalmente */
  transform: translateX(-50%); /* centra exactamente */
  width: 430px;      /* ancho de la imagen, ajustable */
 
}

/* Imagen  */
.camara-img {
  width: 100%;
  height: auto;

}
/* Contenedor de la imagen */
.mini-image-container {
  position: absolute;
  bottom: 10px;      /* ajusta para mover la imagen hacia arriba o abajo */
  left: 670px;         /* centra horizontalmente */
  transform: translateX(-50%); /* centra exactamente */
  width: 300px;      /* ancho de la imagen, ajustable */
 
}

/* Imagen */
.miniv-img {
  width: 100%;
  height: auto;

}