.title-about {
    font-family: "Rossten";
  font-size: 7rem;
  font-weight: normal;
  text-align: center;
  color: #ff008c;
text-shadow: #5a1b36 3px 0 4px;
  /*cursor: default;*/
  display: inline-block;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 290px;
  left:10px;
}

.caja-texto {
     font-family: "Rossten";
      font-weight: normal;
      /*cursor: default;*/
      color: #5a1b36;
      position: absolute; 
      bottom: 60px;
      left: 10px; 
    /* Home.css */
    /* 1. Dimensiones de la Caja */
    width: 50%; /* Ocupa el 75% del ancho de su contenedor padre */
    max-width: 800px; /* Asegura que no crezca demasiado en pantallas grandes */
    height: 200px; /* Altura fija o máxima que deseas */
    
  
    /* 3. Estilo Visual */
    padding: 15px; /* Relleno interior */
    margin: 10px auto; /* Centra la caja horizontalmente si el contenedor lo permite */

    line-height: 1.6; /* Mejora la legibilidad del texto grande */
    
    /* Opcional: Estilos para la barra de desplazamiento (más avanzado) */
}

.nombre-text {
font-family: "Rossten";
 color:#ff008c;
 position: absolute;
 left: 15px;
 bottom: 280px;
  font-size: 1.2rem;
  /*cursor: default;*/

}

.v-special {
    font-family: "Aston";
    color:#ff008c;

} 
