
.contact-title {
 font-family: "Rossten";
  font-size: 9rem;
  font-weight: normal;
  text-align: center;
  color: #ff008c;
text-shadow: #5a1b36 3px 0 4px;
  display: inline-block;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 20px;
  left:10px;
}

/* Contenedor de la imagen */
.rrss-image-container {
  position: absolute;
  bottom: -350px;      
  left: 70px;         
  transform: translateX(-50%); 
  width: 300px;      
}

/* Imagen de software */
.rrss-img {
  width: 18.5%;
  height: auto;

}

/* Contenedor de la imagen2 */
.rrss2-image-container {
  position: absolute;
  bottom: -350px;      
  left: 650px;         
  transform: translateX(-50%); 
  width: 300px;     
}

/* Imagen de software2 */
.rrss2-img {
  width: 18%;
  height: auto;

}

/* Contenedor de la imagen3 */
.tamagotchi-image-container {
  position: absolute;
  bottom: -150px;      
  left: 1000px;       
  transform: translateX(-50%); /* centra exactamente */
  width: 600px;      
  transform: rotate(-20deg);
}

/* Imagen */
.tamagotchi-img {
  width: 60%;
  height: auto;

}

/* Contenedor de links */
.links-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Estilo general de los links */
.link-item {
  position: absolute;
  font-size: 3rem;
  font-family: "Rossten";
  color: #5a1b36;
  text-decoration: none;
  transition: 0.2s;
}

.link-item:hover {
  transform: scale(1.1);
  color: #ff008c;
}

/* posiciones individuales */
.link-1 {
  top: 70px;
  left: 15%;
}

.link-2 {
  top: 170px;
  left: 15%;
}

.link-3 {
  top: 265px;
  left: 15%;
}
.link-4 {
  top: 70px;
  left: 89%;
}
.link-5 {
  top: 170px;
  left: 90%;
}
.link-6 {
  top: 265px;
  left: 90%;
}


