

/* Título principal */
.title-habilities {
  position: absolute;
  font-family: "Rossten";
  font-size: clamp(7rem, 9vw, 9rem);
  color: #ff008c;
  text-shadow: #5a1b36 3px 0 4px;
  left: 2vw;
  bottom: 55vh;
  margin: 0;
   font-weight: normal;
}

/* Subtítulo Software */
.subtitle {
  font-family: "Rossten";
  font-size: clamp(6rem, 4vw, 4rem);
  color: #ff008c;
  position: absolute;
  bottom: 20vh;
  left: 60vw;
   font-weight: normal;
}

/* Subtítulo Language */
.subtitle2 {
  font-family: "Rossten";
  font-size: clamp(6rem, 4vw, 4rem);
  color: #ff008c;
  position: absolute;
  bottom: 1vh;
  left: 2vw;
   font-weight: normal;
}

/* Contenedor de imagen Software */
.software-image-container {
  position: absolute;
  bottom: 5vh;
  left: 80vw;
  width: 30vw;
  transform: translateX(-50%);
}

.software-img {
  width: 100%;
  height: auto;
}

/* Contenedor imagen Idiomas */
.idiomas-image-container {
  position: absolute;
  bottom: 7vh;
  left: 28vw;
  width: 30vw;
  transform: translateX(-50%);
}

.idiomas-img {
  width: 80%;
  height: auto;
}

/* Contenedor valhi cartoon */
.miniv2-image-container {
  position: absolute;
  bottom: 6vh;
  left: 50vw;
  width: 30vw;
  transform: translateX(-50%);
}

.miniv2-img {
  width: 100%;
  height: auto;
}


.español {
  position: absolute;
  bottom: 15vh;
  left: 3vw;
  font-family: "Rossten";
  font-size: clamp(2rem, 2.5vw, 2.5rem);
   font-weight: normal;
  color: #ff008c;
}


.ingles {
  position: absolute;
  bottom: 5vh;
  left: 3vw;
  font-family: "Rossten";
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  color: #ff008c;
  font-weight: normal;
}


