
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  text-align: center;
}

.letter-special {
  font-family:"Tempting" ;
  display: inline-block;
  justify-content: center;
  align-items: center;

}

.title {
  font-family: "Rossten";
  font-size: 17rem;
  font-weight: normal;
  text-align: center;
  color: #ff008c;
text-shadow: #5a1b36 3px 0 4px;
 
  display: inline-block;
  padding: 0;
  margin: 0;
}

.title:hover {
  transform: scale(1.02);
}

.text{
  font-family: 'Aston' ;
  font-size:5rem;
  font-weight: normal;
}

.diseno {
  font-family: "Aston";
  font-size: 2rem;
   text-align: center;
  color: #ff008c;
  position: absolute;
  top: 5px;
  left:650px;
 
}

.slay {
  font-family: "Aston";
  font-size: 2rem;
   text-align: center;
  color: #ff008c;
  position: absolute;
  bottom: 10px;
  left:600px;
  
}

