.works-container {
  padding: 40px;
}

/* TÍTULO */
.title-works {
font-family: "Rossten";
  font-size: 7rem;
  font-weight: normal;
  text-align: center;
  color: #ff008c;
text-shadow: #5a1b36 3px 0 4px;
  /*cursor: default;*/
  display: inline-block;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 290px;
  left:10px;
}



/* COLLAGE */
.collage-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 100px;
}

.collage-item img {
  width: 25%;
  position: absolute;
  bottom: 80px;
  
  height: auto;
  border-radius: 10px;
 /* cursor: pointer;*/
  transition: transform 0.25s ease;
}

.collage-item img:hover {
  transform: scale(1.05);
}

/* FONDO OSCURO */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

/* --- MODAL --- */
.modal-overlay {
  position: fixed;
  top: 0px; /* ⬅ subimos un poco la ventana */
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  width: 90%;
  max-width: 1000px;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* botón cerrar */
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;

  padding: 6px 12px;
  border: none;
  background: #ff008c;
  color: white;
  border-radius: 6px;
  /*cursor: pointer;*/
}
.close-btn:hover {
  background: #d60077;
}

/* layout interno */
.modal-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --- IMAGEN + FLECHAS --- */
.carousel-section {
  position: relative;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  width: 85%;
  border-radius: 12px;
  border: none;
}

/* flechas */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  border: none;
  font-size: 2.5rem;
 /* cursor: pointer;*/
  color: #5a1b36;
}

.btn-left {
  left: -20px;
}

.btn-right {
  right: -20px;
}

.carousel-btn:hover {
  opacity: 0.6;
}

/* --- TEXTO --- */
.text-section {
  width: 45%;
  padding-left: 20px;
}

.modal-title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.modal-description {
  font-size: 1rem;
  line-height: 1.4;
  color: #333;
}
