/* estilos globales */
body {
  background-color: #FFCAE0;
  margin: 0;
  font-family: sans-serif;
  
}

/* Fuentes */
@font-face {
  font-family: 'Rossten';
  src: url('./assets/ROSSTEN.ttf') format('truetype');
}

@font-face {
  font-family: 'Tempting';
  src: url('./assets/Tempting.ttf') format('truetype');
}

@font-face {
  font-family: 'Aston';
  src: url('./assets/Aston Script.ttf') format('truetype');
}

